.listMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listMovies li {
  list-style-type: none;
}

.sMovie {
  position: relative;
  padding: 30px;
} 

.sMovie .txtMovie {
  position: absolute;
  padding-bottom: 30px;
  padding-right: 30px;
  bottom: 4px;
  text-shadow: 1.5px 1.5px 1.5px black;
  color: white;
}