.contGen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: blur(5px);
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.butRegresar {
    width: 40px;
}

.imgPortada {
    position: relative;
    padding: 10px;
}

.dataMovie {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reparto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reparto .talentos {
    display: flex;
    flex-direction: row;
}

.contenedor p {
    color:white;
    font-size: 15px;
}

.titulo {
    font-weight:bold;
}

.dataTime {
    display: flex;
    flex-direction: row;
}

.duracion {
    padding-left:5px; 
}

.puesto {
    font-weight:bold;
}

.listReparto {
    text-decoration: underline;
    padding-left: 4px;
    padding-right: 4px;
}